<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
  <body>
    
  
    <h2 th:text="#{info}">Owner Information</h2>
  
  
    <table class="table table-striped" th:object="${owner}">
      <tr>
        <th th:text="#{name}">Name</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
      </tr>
      <tr>
        <th th:text="#{address}">Address</th>
        <td th:text="*{address}" /></td>
      </tr>
      <tr>
        <th th:text="#{city}">City</th>
        <td th:text="*{city}" /></td>
      </tr>
      <tr>
        <th th:text="#{telephone}">Telephone</th>
        <td th:text="*{telephone}" /></td>
      </tr>
    </table>
    <div id="ownerMap" style="height: 350px; width: 1000px"></div>
    <br>
    <br>
    <input type ="hidden" id ="direc" th:value="${owner.getAddress()}">
    <a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default" th:text="#{editOwner}">Edit
      Owner</a>
    <a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-default" th:text="#{newPet}">Add
      New Pet</a>
    
    <br />
    <br />
    <br />
    <h2 th:text="#{pav}">Pets and Visits</h2>
  
    <table class="table table-striped">
  
      <tr th:each="pet : ${owner.pets}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt th:text="#{name}">Name</dt>
            <dd th:text="${pet.name}" /></dd>
            <dt th:text="#{birthDate}">Birth Date</dt>
            <dd
              th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}" /></dd>
            <dt th:text="#{type}">Type</dt>
            <dd th:text="${pet.type}" /></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th th:text="#{visitDate}">Visit Date</th>
                <th th:text="#{description}">Description</th>
              </tr>
            </thead>
            <tr th:each="visit : ${pet.visits}">
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${visit?.description}"></td>
            </tr>
            <tr>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${owner.id},petId=${pet.id})}" th:text="#{editPet}">Edit
                  Pet</a></td>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}" th:text="#{addVisit}">Add
                  Visit</a></td>
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVNBQQkfZQZ8zKMYqAveuGCJcYaouqkTo&callback=initMap"
    async defer></script>
    <script>
        
        var map;
        function initMap() {       
            map = new google.maps.Map(document.getElementById('ownerMap'), {
                center: {lat: 16.617886, lng: -93.0967864},
                zoom: 16
            });
            marker = new google.maps.Marker({
                position: {lat: 16.617886, lng: -93.0967864},
                draggable: false
            });
            marker.setMap(map)
            var address = document.getElementById('direc').value; 
            console.log(address);
            var geocoder = new google.maps.Geocoder()
            geocoder.geocode({'address': address}, function(results, status){
                if (status == 'OK'){
                    marker.setPosition(results[0].geometry.location);
                    map.setCenter(marker.getPosition());
                    
                }
            });
        }
        
        
    </script>
  </body>

</html>
